body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .heading {
    background-color: blue;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-align: center;
    padding: 10px;
  }
  
  input {
    width: 75%;
  }
  
  #city-list {
    width: 22rem;
  }
  
  #city-date-icon,
  #city-name,
  #current-icon {
      display: flex;
      flex-direction: row;
      justify-content: center/space-around/space-between;
  }
  
  h6 {
    font-weight: bold;
  }
  
  h4 {
      margin: 5px;
  }
  
  #forecast-cards {
      display: flex;
      flex-direction: row;
      justify-content: center/space-between;
  }
  
  .forecast {
      margin: 10px;
  }